body{
    background-color:  hsl(0, 0%, 98%);
    margin: 0;
    padding: 0px 30px;
}
header{
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
    font-family: 'Poppins', sans-serif;
    color: hsl(229, 6%, 66%);
    font-weight: 400;
}
.top{
    margin:5px 0px ;
    font-size: 22px;
}
.bold{
    font-weight: 600;
    color:#111;
    margin-top:0;
    font-size: 22px;
}
.box{
    padding: 25px 25px;
    background-color: white;
    margin: 0px 0px 20px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 1px 15px hsl(234, 12%, 34%);
    overflow: hidden;
}
.heading{
    margin: 0px 0px ;
    font-weight: 900;
    font-size: 22px;
}
.desc{
    margin: 5px 0px 50px;
    font-size: 14px;
    color: hsl(229, 6%, 66%);
}
img{
    float: right;
}
.d1{
    border-top:5px  solid hsl(180, 62%, 55%);
}
.d2{
    border-top:5px  solid hsl(0, 78%, 62%);
}
.d3{
    border-top:5px  solid hsl(34, 97%, 64%);
}
.d4{
    border-top:5px  solid hsl(212, 86%, 64%);
}

@media only screen and (min-width:1000px){
    
    body{
        padding: 0;
    }
    header{
        margin: 0 auto;
        width: 40%;
    }
    .top{
        font-size: 32px;
    }
    .bold{
        font-size: 32px;
    }
    .box{
        width: 75%;
        text-align: left;
        margin: 10px auto;
    }
    .sect{
        vertical-align: middle;
        width: 30%;
        display: inline-block;
        text-align: center;
    }
    .main{
        width: 100%;
        text-align: center;
        height: calc(100vh - 397px)
        box-sizing: border-box;
        padding: 10px;
    }

}
